body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F0E9D2;
    text-align:center;
}

form {
    display:inline-block;
}

table {
    border-spacing:30px;
  
}
th, td {
    
    padding: 15px;
    text-align: left
}

.Grid {
align-items:center;
}